.subtitulo-servicios{
    text-decoration: underline map-get($paleta-colores, "principal" );
}

.div-servicios{
    width: 200px;

}

.fa-solid{
    padding: 10px;
    font-size: 65px;
    color: map-get($paleta-colores , secundario );
    background-color: map-get($paleta-colores, principal );
    border-radius: 30px;
}

.f2-iconos{
    margin-top: 80px;
}