* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media only screen and (min-width: 767px) {
  body .img-doctora {
    display: flex;
    justify-content: start;
    align-items: center; } }

body {
  font-family: 'Lora', serif; }

.navbar {
  background-color: #062844 !important; }

#menu a {
  color: #D7D8DE;
  font-size: 18px; }

.color-boton {
  border: solid 2px white; }

footer {
  background-color: #062844 !important;
  color: #D7D8DE; }

@media only screen and (min-width: 1024px) {
  header .contenedor-boton-conoce-mas {
    width: 13vw; }
  header .boton-reserva {
    font-size: 1.5rem; } }

.titulo-servicio {
  position: absolute;
  display: flex;
  justify-content: start;
  padding-top: 200px; }

.subtitulo-servicios {
  text-decoration: underline #062844; }

.div-servicios {
  width: 200px; }

.form-control {
  display: inline-block !important; }
