@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lora', serif; }

.navbar {
  background-color: #062844 !important; }

#menu a {
  color: #D7D8DE;
  font-size: 18px; }

.color-boton {
  border: solid 2px white; }

.efecto-1 {
  transition: 1s; }

.efecto-1:hover {
  transform: translateY(-3px) scale(1.1); }

.active {
  color: orange !important; }

.sombra {
  text-shadow: 4px 4px 5px; }

@media only screen and (min-width: 767px) {
  body {
    font-size: 30px; }
  .card {
    margin-top: 5px; }
  .cards-servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
  .card-img-top {
    height: 250px; }
  .card-body {
    color: #D7D8DE;
    background-color: #062844; }
  .marcas-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .marca-purina {
    height: 250px;
    padding: 0;
    display: flex;
    justify-content: center; }
  .marca {
    display: flex;
    justify-content: center;
    align-items: center; }
  .marca-pedigree {
    display: flex;
    justify-content: center;
    margin-top: 80px; } }

@media only screen and (min-width: 1024px) {
  .cards-servicios {
    display: flex;
    justify-content: space-around; }
  .card-img-top {
    height: 250px; }
  .card-body {
    color: #D7D8DE;
    background-color: #062844; } }

footer {
  background-color: #062844 !important;
  color: #D7D8DE; }

.header {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px; }

.header {
  height: 45vh !important;
  background: url(/images/banner-web--mascota.png) no-repeat center;
  background-size: cover; }

.index-nosotros {
  background: url(https://fondosmil.com/fondo/37827.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 40vh; }

.titulo-nosotros {
  text-align: center; }

.btn-nosotros {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 85%; }

.card {
  transition: 1s; }

.card:hover {
  transform: translateY(-3px) scale(1.1); }

.btn-home {
  display: flex;
  justify-content: center; }

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
  background-color: #062844; }

.btn-home a {
  margin: 0 10px;
  text-align: center; }

.titulo-servicio {
  position: absolute;
  display: flex;
  justify-content: start;
  padding-top: 200px; }

.subtitulo-servicios {
  text-decoration: underline #062844; }

.div-servicios {
  width: 200px; }

.fa-solid {
  padding: 10px;
  font-size: 65px;
  color: #D7D8DE;
  background-color: #062844;
  border-radius: 30px; }

@media only screen and (min-width: 767px) {
  body .contenedor-seccion-doc {
    display: flex;
    flex-direction: column-reverse; } }

@media only screen and (min-width: 1024px) {
  body .contenedor-seccion-doc {
    display: flex;
    flex-direction: row; } }

.box-nosotros {
  font-size: 2.9rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-transform: uppercase;
  background-color: #062844;
  color: #D7D8DE;
  padding: 10px 20px; }

.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.testimonios-header {
  margin: 50px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.testimonios-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.testimonios-caja {
  width: 700px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer; }

.perfil-imagen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px; }
  .perfil-imagen img {
    width: 100%;
    height: 100%;
    object-fit: center; }

.perfil {
  display: flex;
  align-items: center; }

.name-user {
  display: flex;
  flex-direction: column; }
  .name-user strong {
    color: #3d3d3d;
    font-size: 1.3rem; }
  .name-user span {
    color: #979797;
    font-size: 1.1rem; }

.reseñas {
  color: #f9d71c; }

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.comentarios-clientes {
  width: 100%; }
  .comentarios-clientes p {
    color: #4d4d4d; }

.form-control {
  display: inline-block !important; }

.contenedor-datos-form {
  margin-bottom: 80px; }

.contenedor-datos-iconos {
  margin-top: 80px; }
