
.btn-home{
  display: flex;
  justify-content: center;
}


.btn{
    display: inline-block;
    
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid black;
    text-decoration: none;
    color: white;
    background-color: map-get($paleta-colores, principal );
  }

  .btn-footer{
    margin-top: 13px;
    padding: 5px 20px;
    border: 3px solid map-get($paleta-colores , principal );
    text-decoration: none;
    color: map-get($paleta-colores, principal );
    background-color: map-get($paleta-colores, secundario );
  }


  
  

  .btn-home a{
    margin: 0 10px;
    text-align: center;
  }

