
    .header{
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom:30px ;
  
      }
  
  
      .header{
        
        height: 45vh !important;
        background:url(/images/banner-web--mascota.webp) no-repeat center;
        background-size: cover;
  
      }
      

