




//SECCION NOSOTROS

.index-nosotros{
    display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom:30px ;
}

.index-nosotros{
    background: url(https://fondosmil.com/fondo/37827.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: cover;
        height: 40vh;

}







//ANIMACIONES

.card{
    transition: 1s;
}

.card:hover{
    transform: translateY(-3px) scale(1.1)

}

    