@import "../Utilidades/variables";
.navbar{
    background-color: map-get($paleta-colores , "principal" ) !important;
    
}
#menu a {
    color: map-get($paleta-colores, "secundario" );
    font-size: 18px;
}
.color-boton{
    border: solid 2px white ;
}

//ANIMACIONES

.efecto-1{
    transition: 1s;
}

.efecto-1:hover {
    transform: translateY(-3px) scale(1.1);
    

}
.active{
  color:orange !important;
}
